<style>
  nav a {
    color: white;
    text-decoration: none !important;
    font-weight: 400;
    transition: all 0.3s ease-out;
  }

  nav a:hover {
    transform: translateY(-5px);
  }

  .menu-toggle {
    display: none;
  }

  /* Side menu styles */
  .side-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #333;
    transition: left 0.3s;
    z-index: 998;
  }

  .side-menu .menu-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 1rem;
  }

  .side-menu .menu-content a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 10px;
  }

  .side-menu .menu-content a:hover {
    background-color: #575757;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 997;
  }

  /* When the checkbox is checked, show the side menu and overlay */
  #menu-toggle:checked+.side-menu {
    left: 0;
  }

  #menu-toggle:checked+.side-menu .overlay {
    display: block;
  }

  /* Hamburger Icon Styles */
  .hamburger-icon {
    font-size: 30px;
    cursor: pointer;
    color: #000;
    padding: 10px;
  }

  /* Remove default styling for links */
  .menu-content a {
    border: none;
    text-decoration: none;
  }

  #search-options {
    position: absolute;
    background-color: rgb(246, 251, 255);
    top: 100%;
    /* width: 100%; */
    border-radius: 5px;
    margin-top: 5px;
    padding: 5px;
  }

  #search-options ul,
  #search-options li,
  #search-options a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: black;
    cursor: pointer;
  }

  #search-options li {
    padding: 10px 1rem;
    border-radius: 5px;
    transition: all 0.3s ease;
  }

  #search-options li:hover {
    color: rgb(99, 99, 99);
    background-color: rgb(223, 230, 236);
  }
</style>

<header class="px-4 d-none d-md-block" style="z-index: 999;">
  <nav class="d-flex justify-content-between">
    <div>
      <a href="/index"><img src="./images/mvlogo.png" width="100" height="30" alt="Company Logo"></a>
    </div>
    <div class="d-flex align-items-center gap-3">
      <div class="d-flex gap-5">
        <a href="/index/about">About us</a>
        <a href="/index/teams">Teams</a>
        <a href="/index/join_us">Career</a>
        <a href="/index/contact_us">Contact us</a>
      </div>
      <div class="d-flex gap-1 align-items-center position-relative">
        <input type="text" id="nav_search" placeholder="<%= index.search_placeholder || 'Search here...' %>"
          class="form-control m-0" aria-label="Search input" style="max-width: 150px;">
        <button class="btn btn-primary" aria-label="Search">
          <%= index.search_button_text || 'Search' %>
        </button>
        <div id="search-options">
          <ul id="search-options_ul">
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>

<header class="d-flex d-md-none m-0 p-0" style="z-index: 999;">
  <nav class="w-100 d-flex justify-content-between align-items-center p-2">
    <div>
      <a href="/index"><img src="./images/mvlogo.png" width="100" height="30" alt="Company Logo"></a>
    </div>

    <!-- Hamburger Icon -->
    <div>
      <!-- Hidden checkbox to control side menu visibility -->
      <input type="checkbox" id="menu-toggle" class="menu-toggle">
      <label for="menu-toggle" class="hamburger-icon">&#9776;</label>
    </div>
  </nav>
</header>

<!-- Side Menu -->
<div class="side-menu">
  <div class="overlay"></div>
  <div class="menu-content">
    <a href="/index/about">About Us</a>
    <a href="/index/teams">Teams</a>
    <a href="/index/join_us">Career</a>
    <a href="/index/contact_us">Contact Us</a>
  </div>
</div>

<script defer>
  // const items = ['index', 'join us', 'contact us', 'teams', 'about us']
  const items = [{
    name: "index",
    href: "/index",
  }, {
    name: "join us",
    href: "/index/join_us",
  }, {
    name: "contact us",
    href: "/index/contact_us",
  }, {
    name: "teams",
    href: "/index/teams",
  }, {
    name: "about us",
    href: "/index/about_us",
  }]

  $(document).ready(() => {
    $('#search-options').hide()

    $('#nav_search').focusin(() => {
      items.forEach(item => {
        const li_tag = `
      <li>
        <a href='${item.href}'>
        ${item.name}
        </a>
      </li>`
        $('#search-options_ul').append(li_tag)
      })
    })

    $('#nav_search').focusout(() => {
      setTimeout(() => {
        $('#search-options_ul > li').remove()
        $('#search-options').hide()
      }, 300)
    })

    $('#nav_search').on('input', (e) => {
      $('#search-options').show()
      $('#search-options_ul > li').remove()
      const text = $('#nav_search').val()
      const filter_items = items.filter(item => item.name.includes(text))

      filter_items.forEach(item => {
        const li_tag = `
      <li>
        <a href='${item.href}'>
        ${item.name}
        </a>
      </li>`
        $('#search-options_ul').append(li_tag)
      })

    })
  })

</script>